# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# stray compiled output in project root
/com

# local note (problem description)
Новый текстовый документ.txt

# Files from Forge MDK
forge*changelog.txt
